*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Myriad Pro", Myriad, -apple-system,"Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.header-logo img{
    display: inline-block;
    vertical-align: middle;
  /*  width: 3.85%; height:2.32%;*/
    width :49px; height: 29px;
}

header{
    background-color: rgb(26, 26, 108);
}

span{
    color: rgb(247, 255, 162);
}

.header-logo{
    text-align: left;
    /*font-size:1.8vw;*/
    font-size: 24px;
    font-weight: 400;
    padding: 7px;
    color: rgb(198, 251, 255);   
}

.header-image{
    vertical-align: top;
    width: 100%;
}
.header-image-special{
    vertical-align: top;
    width: 100%;
}

.nextp-image{
    width: 90%;
}
.video-container {
    position: relative;
    width: 87%; /* 幅を87%に設定 */
    max-width: 100%; /* 最大幅を900pxに設定（任意） */
    margin: auto;
    padding-top: 48.93%; /* 16:9のアスペクト比に調整 */
}
.nextp-youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.news-image{
    width: 50%;
}
.top-bar-front{
    height: 2px;
    background-color: seagreen;
}
.top-bar{
    background-color: rgb(52, 209, 211);
}
.top-bar a{
    border-radius:2px;
    background-color: rgb(19, 119, 121);
    color:white;
    padding:1px 10px 1px 10px;
    display:block;
    text-decoration:none;
}

.top-bar a:hover{
    background-color: rgb(60, 19, 142);;
}

.bar-ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.bar-ul li{
    list-style: none;
    padding:0.3% 10px 0.3% 0px;
    font-size:20px;
}

.wrapper{
    min-height: 74vh;
    position: relative;/*←相対位置*/
    background-color:rgb(217, 246, 255);   
    text-align: center;
}
.wrapper-body{
    width: 70%;
    padding: 0px  2% 0px;
    margin: auto;
    background-color: rgb(241, 254, 255);
}

.lastupdate{
    font-size: 14px;
    text-align: center;
    padding: 15px 0px 0px;
}

footer{
    background-color: rgb(60, 19, 142);
    color:white;
    height: 33%;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0; /*下に固定*/
}
.footer-logo{
    font-size:14px;
    color: wheat;
}
.footer-contents{
    display: flex;
    flex-flow: row wrap;
    font-size:14px;
    justify-content: center;
}
.footer-contents li{
    list-style: none;
    padding:15px 20px 10px 20px;
    font-size:20px;
}
.footer-contents a{
    color:white;
    display: block;
    text-decoration: none;
}
.footer-contents a:hover{
    color: aquamarine;
}

.title{
    padding:20px 5px 0px 15px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: rgb(28, 7, 91);
   /* font-size:200%;*/
}
.title2{
    padding:10px 5px 0px 10px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: rgb(28, 7, 91);
   /* font-size:200%;*/
}
p{
    font-size: 20px;
    color: rgb(28, 7, 91);
    margin: 0% 3% 0%;
       /* font-size: 100%;*/
}
.justify{
    text-align: justify;
}
.left{
    text-align: left;
}
h1{
    font-weight: 300;
}
.youtube {
    display: block;
    margin: auto;
    position: relative;
    width: 70%;
    padding-top: 39.375%;
    
  }
  .youtube iframe {
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
.indexContentsImage{
width: 70%;
}


.sp-br {
    display:none;
}

/* SNSbutton*/
.sns-box {
    display: flex;
    align-items: center;  /* ボタンを中央寄せ */
    flex-direction: column;
    border-radius: .2rem;
    }
    
    .btn-sns {
    width: 3.8rem;
    height: 3.8rem;
    padding-top: 1rem;
    box-sizing: border-box;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    }
    
    .btn-sns svg {
    fill: #fff
    }
    
    .btn-sns div {
    margin-top: .5rem;
    font-size: .5rem;
    }
    
    .btn-sns:hover svg {
    transform: rotateY(360deg);
    transition: .5s;
    }
    
    .btn-x {
    background-color: #111319;
    }
    
    .btn-facebook {
    background-color: #375A94;
    }
    
    .btn-line {
    background-color: #5DB40F;
    }
    
    .btn-pinterest {
    background-color: #B83026;
    }

@media screen and (max-width: 480px) {
.sp-br {
    display:block;
}

}


@media screen and (min-width: 1700px) {
    .sp-br {
        display:none;
    }

    .wrapper-body{
        width: 50%;
    }
}
  @media screen and (max-width: 900px) {/* スクリーンサイズが1199px以下の場合に適用 */
    


   .title{
       text-align: center;
    padding:10px 3px 0px 3px;

   }

    .wrapper-body{
        width: 95%;
    }

    .youtube{
        position: relative;
        width: 100%;
        padding-top: 56.25%;
    }
    .indexContentsImage{
        width: 100%;
        }
}
@media screen and (max-width: 480px) {
/* 共通 */
    .header-image{
        width: 100%;         /* 親要素の幅に合わせる */
        height: 100px;       /* 高さ100pxを維持 */
        object-fit: cover;   /* 画像を引き伸ばさずに中央を表示 */
        object-position: center;
    }


    .title{
        font-size: 24px;
        padding:20px 0px 0px 0px;
    }
    p{
     font-size: 16px;   
    }

    /* ページ個別*/
    .header-image-special{
        width: 100%;         /* 親要素の幅に合わせる */
        height: 180px;       /* 高さ100pxを維持 */
        object-fit: cover;   /* 画像を引き伸ばさずに中央を表示 */
        object-position: center;
    }

    .top-bar {
        overflow-x: auto;
        white-space: nowrap;
    }
    .bar-ul {
        margin: 1.5% 5% 1.5% 5%;
        overflow-x: auto;
        flex-flow: row;
        display: flex; /* 横並びにする */
        justify-content: flex-start; /* 左寄せにする */
        }

}